html{
    scroll-behavior: smooth;
}
body{
   margin: 0px;
}
header{
    width: auto;
    height: 500px;
   /* background-image: url("../../img/cidade-beira-mar.jpg");*/
    background-size: 1500px;
    background-repeat: no-repeat;
}
main{
    width: auto;
    height: 2100px;
}
article{
    width: auto;
    height: 2100px;
    background-color: rgba(128, 128, 128, 0.541);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btp{
    margin-left: -60px;
    margin-top:50px;
    height: 600px;
    display: flex;
}
.cct{
    margin-top:50px;
    margin-left: 60px;
    height: 600px;
    display: flex;
    flex-direction: row;
}
footer{
    width: auto;
    height: 70px;
    background: rgb(53, 53, 53);
}
.h1title{
    font-family: 'Abril Fatface', cursive;
    width: 1100px;
    margin-top: 10px;
    text-align: center;
    text-shadow:  0 0 2px black;
    letter-spacing: 2px;
}
.fotos{
    border-radius: 15px;
    width: 400px;
    height: 600px;
    box-shadow: 0 0 15px rgb(23, 23, 23);
}
.paragrafoDireita{
    width: 800px;
    margin-top: 200px;
    margin-left: 20px;
    font-family: 'Tiro Kannada', serif;
    font-weight: bold;
    font-size: 30px;
}
.paragrafoEsquerda{
    width: 800px;
    margin: 200px 20px 0 0;
    font-family: 'Tiro Kannada', serif;
    font-weight: bold;
    font-size: 30px;
}